h1
{
	color: rgb(200,49,54);
	text-align: center
	/*border: 3px black solid;*/
    /*text-shadow: 6px 6px 6px black;*/
	
}

p
{
	
	
}

.liste
{
	
	
}

body 
{
	background-image: url("image/fondbeige.jpg");
	
}